:root {
    --primary-color: darkcyan;
    --secondary-color: goldenrod;
    --accent1-color: black;
    --accent2-color: #A491D3;
}

body,
html {
    background-color: var(--primary-color);
    text-align: center;
    max-width: 900px;
    margin: auto;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'Parisienne', cursive;
    color: var(--secondary-color);
}

p {
    font-size: 2.5em;
    font-family: 'Lato', sans-serif;
    color: var(--accent1-color);
}

#character_grid {
    grid-template-columns: repeat(4, 25%);
    display: grid;
    margin: 2%;
}

article {
    margin: 10px;
    background-color: var(--accent2-color);
    box-shadow: 2px 2px;
}

img {
    width: 80%;
}